body {
    font-family: "Montserrat", sans-serif;
    background: transparent;
    text-align: justify;
    margin: auto;
}
.wrapper {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
    background: #ffffff;
}

aside {
    width: 250px;
    background: #1e2939;
}

.title {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    padding-top: 20px;
}

.SectionTitle {
    margin-bottom: 51px;
}
.date {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #a8a8a8;
}

.photo {
    margin-top: 25px;
    background-color: rgb(121, 119, 119);
}

.h-secondary {
    color: #ffffff;
}
.contact-links {
    color: #ffffff;
    font-size: 14px;
    line-height: 24px;
}
.bold {
    font-weight: 700;
}
.list-secondary {
    color: #fb6d3a;
    font-size: 14px;
    line-height: 24px;
    margin-left: 0px;
    padding-left: 0px;
    list-style-position: inside;
}
.list-secondary-item {
    color: #ffffff;
}

.contact-block {
    margin-top: 51px;
    margin-left: 10px;
}
.tech-skills-block {
    margin-top: 47px;
    margin-left: 10px;
}

main {
    padding: 10px 60px 40px 35px;
}

h1 {
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
}
.description {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    margin-bottom: 40px;
}

.list-primary {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    padding-left: 0;
    list-style-position: inside;
}
.list-primary-item {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-decoration-line: none;
    color: #595959;
}

.header-primary {
    font-weight: 700;
    font-size: 22px;
    line-height: 25px;
    margin-bottom: 12px;
}

.name {
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
    padding-top: 5px;
}

.highlight {
    color: #fb6d3a;
}
.language {
    color: #a8a8a8;
}

.list {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    padding-left: 0;
    list-style-position: inside;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #023bda;
    border-radius: 10px;
}
